/*==================================================
  Draggable/Droppable Crate Tool
==================================================*/
.jest-viewport-tiler .tool-crate  {
	position       : absolute;
	pointer-events : none;
	top            : 0px;
	left           : 0px;
	display        : block;
	width          : 16px;
	height         : 16px;
	background     : #100;
	overflow       : hidden;
	border         : 3px solid rgba( 255, 0, 0, 1 );
	box-shadow     : 3px 3px 3px rgba( 0, 0, 0, 0.5 );
}
