/*==================================================
Main Page CSS
==================================================*/
html {
	width               : 100%;
	height              : 100%;
	background          : #111;
	background-image    : url("../images/jest_logo_white.png");
	background-size     : 10%;
	background-repeat   : no-repeat;
	background-position : center;
	border              : none;
	margin              : 0;
	padding             : 0;
}
body {
	width               : 100%;
	height              : 100%;
	background-color    : rgba( 17, 17, 17, 0.9 );
	border              : none;
	margin              : 0;
	padding             : 0;
}


/*==================================================
Header Styles
==================================================*/
/*.jest-window-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #444;
	color: #eee;
	font-size: 1em;
	font-weight: bold;
}*/

/*==================================================
Modal Style(S)
==================================================*/
/*#confirm-modal {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
.modal-box {
	background: #111;
	color: #fff;
	padding: 20px;
	border: 2px solid #444;
	border-radius: 10px;
	text-align: center;
	min-width: 240px;
}
.modal-buttons button {
	margin: 10px;
	padding: 8px 16px;
}
.hidden {
	display: none;
}*/
