@layer components {
	/*==================================================
	  Shared Panel Styling (File Menu, Toolbar, Tabs)
	==================================================*/
	.jest-window-viewport .file-menu,
	.jest-window-viewport .toolbar,
	.jest-window-viewport .tabbar {
		display          : flex;
		gap              : 10px;
		padding          : 5px 10px 5px 10px;
		background       : var(--brand-black);
		color            : #eee;
	}
	.jest-window-viewport .menu {
		display          : flex;
		align-items      : center;
		justify-content  : right;
		min-height       : 16px;
		line-height      : 16px;
	}
	.jest-window-viewport .menu .menu-title {
		font-size        : 0.75em;
		font-weight      : bold;
		padding          : 0 10px;
		color            : #999;
		text-shadow      : 1px 1px 0px rgba(0,0,0,0.10);
	}
	.jest-window-viewport .toolbar {
		padding          : 8px;
	}
	.jest-window-viewport .tabbar {
		gap              : 0px;
		justify-content  : left;
		align-items      : center;
		padding-bottom   : 0;
		padding          : 0;
	}


	/*==================================================
	  Global Button Style(s)
	==================================================*/
	.jest-window-viewport .menu button.disabled {
		opacity          : var(--opacity-disabled);
		cursor           : not-allowed;
		transform        : scale(1);
		transition       : none;
	}
	.jest-window-viewport .menu button.active {
		cursor           : default;
		transition       : none;
	}


	/*==================================================
	  File Menu Buttons
	==================================================*/
	.jest-window-viewport .file-menu {
		gap              : 0;
		padding          : 0;
		background       : transparent;
	}
	.jest-window-viewport .file-menu button {
		text-transform   : capitalize;
		background       : transparent;
		color            : var(--brand-white);
		border           : none;
		padding          : 6px 10px;
		cursor           : pointer;
		transition       : background 0.2s ease;
		text-shadow      : 0px 0 3px rgba(0, 0, 0, 0.5);
	}
	.jest-window-viewport .file-menu button.disabled,
	.jest-window-viewport .file-menu button.disabled:hover {
		color            : #888;
		background       : transparent !important;
	}
	.jest-window-viewport .file-menu button.disabled > svg {
		fill             : #888;;
	}
	.jest-window-viewport .file-menu button:hover {
		background       : #666;
	}
	.jest-window-viewport .file-menu button > svg {
		width            : 30px;
		height           : 30px;
		stroke           : none;
		/*stroke-width     : 2;*/
		fill             : var(--brand-white);
		pointer-events   : none;
		display          : inline-block;
		display          : none;
		vertical-align   : bottom;
		width            : 1em;
		height           : 1em;
		margin-right     : 4px;
		filter           : drop-shadow( 0 0 3px rgba(0, 0, 0, 0.5));
	}
	.jest-window-viewport .jest-filemenu-topright svg {
		width            : 30px;
		height           : 30px;
		stroke           : none;
		/*stroke-width     : 2;*/
		fill             : #eee;
		pointer-events   : none;
		display          : inline-block;
		vertical-align   : bottom;
		width            : 1em;
		height           : 1em;
		margin-right     : 4px;
		filter           : drop-shadow( 0 0 3px rgba(0, 0, 0, 0.5));
	}


	/*==================================================
	  Toolbar Menu Buttons
	==================================================*/
	.jest-window-viewport .toolbar {
		flex-direction   : column;
		background       : var(--brand-black);
	}
	.jest-window-viewport .toolbar .invert-btn {
		position         : absolute;
		top              : 0px;
		left             : 20px;
	}
	.jest-window-viewport .toolbar .invert-btn:hover .ico-invert {
		fill             : #ff0033;
	}
	.jest-window-viewport .toolbar .invert-btn .ico-invert {
		width            : 1em;
		height           : 1em;
		/*stroke           : currentColor;
		stroke-width     : 2;*/
		fill             : #999;
		pointer-events   : none;
	}
	.jest-window-viewport .toolbar .title {
		font-weight      : bold;
		color            : #000;
		text-shadow      : 1px 1px 1px rgba(255,255,255,0.1);
		text-transform   : uppercase;
	}
	.jest-window-viewport .toolbar button {
		background       : #111;
		color            : #e0e0e0;
		border           : none;
		padding          : 12px 12px;
		cursor           : pointer;
		transition       : background 0.2s ease;
		border-radius    : 3px;
		box-shadow       : 2px 2px 2px 0px #111;
		font-weight      : normal;
		transition       : none;
		border-top       : 1px solid rgba(255,255,255,0.1);
		border-left      : 1px solid rgba(255,255,255,0.1);
		border-bottom    : 1px solid rgba(0,0,0,0.1);
		border-right     : 1px solid rgba(0,0,0,0.1);
	}
	.jest-window-viewport .toolbar button > svg {
		width            : 30px;
		height           : 30px;
		stroke           : none;
		/*stroke-width     : 2;*/
		fill             : #eee;
		pointer-events   : none;
		display          : inline-block;
		vertical-align   : bottom;
		width            : 1.75em;
		height           : 1.75em;
		filter           : drop-shadow( 1px 1px 2px rgba(0, 0, 0, .3));
	}
	.jest-window-viewport .toolbar button:hover {
		background       : #666;
		color            : #fff;
		font-weight      : normal;
	}
	.jest-window-viewport .toolbar button.active {
		background       : var(--brand-color); /*544;*/
		color            : #fdd;
		text-shadow      : 2px 2px 2px rgba( 0, 100, 0, 0.3 );
		font-weight      : bold;
		cursor           : default;
		transition       : none;
	}
	.jest-window-viewport .toolbar button:hover.active,
	.jest-window-viewport .toolbar button:hover.disabled {
		transform        : none;
		transition       : none;
	}
	.jest-window-viewport .toolbar button:hover {
		transform        : scale(1.08);
		transition       : transform 0.15s ease-out;
	}
	.jest-window-viewport .toolbar button {
		transition       : transform 0.3s cubic-bezier(.34,1.56,.64,1); /* fake bounce */
	}


	/*==================================================
	  Tabbar Menu Buttons
	==================================================*/
	.jest-window-viewport .tabbar {
		background       : var(--brand-black);
	}
	.jest-window-viewport .tabbar button {
		background       : #222;
		color            : #aaa;
		border           : none;
		padding          : 10px 6px 10px 10px;
		cursor           : pointer;
		transition       : background 0.2s ease;
		/*border-radius    : 0 0 5px 5px;*/
		/*border-radius    : 5px;*/
		/*background-image :
			linear-gradient(
				rgba(0, 0, 0, 0.75) 0%,
				rgba(0, 0, 0, 0.1) 20%,
				rgba(0, 0, 0, 0) 20%,
				rgba(0, 0, 0, 0) 100%
				);*/
	}

	.jest-window-viewport .tabbar button:hover:not(.active) {
		background       : #333;
		/*background-image :
			linear-gradient(
				rgba(0, 0, 0, 0.75) 0%,
				rgba(0, 0, 0, 0.1) 20%,
				rgba(0, 0, 0, 0) 20%,
				rgba(0, 0, 0, 0) 100%
				);*/
	}
	.jest-window-viewport .tabbar button.active {
		background       : #000; /*var(--brand-color);*/
		/*background-image : linear-gradient( #800, #f00 );*/
		color            : #eee;
		box-shadow       : 0 3px 3px rgba(0,0,0,0.5)
	}

	.jest-window-viewport .tabbar button.new-button {
		padding          : 10px;
	}

	.jest-window-viewport .tabbar button.x-button {
		position         : relative;
		display          : flex;
		align-items      : center;
		justify-content  : space-between;
		gap              : 4px;
		border-left      : 1px solid #1a1a1a;
	}

	.jest-window-viewport .tabbar button.x-button .button-close {
		display          : flex;
		align-items      : center;
		justify-content  : center;
		width            : 1.5em;
		height           : 1.5em;
		padding          : 2px;
		border-radius    : 6px;
		cursor           : pointer;
		transition       : background 0.2s ease;
	}

	.jest-window-viewport .tabbar button.x-button .button-close:hover {
		background       : rgba( 255, 0, 51, 1 );
		color            : #eee;
	}

	/*.jest-window-viewport .tabbar button.active.x-button .button-close:hover {
		background : rgba( 33, 33, 33, 0.4 );
	}*/

	.jest-window-viewport .tabbar button.new-button .ico-new {
		fill             : #eee;
		stroke           : #eee;
		width            : 1.5em;
		height           : 1.5em;
		pointer-events   : none; /* let the div handle the click */
	}

	.jest-window-viewport .tabbar button.x-button .ico-x {
		width            : 1em;
		height           : 1em;
		pointer-events   : none; /* let the div handle the click */
	}


	/*-----------------------------------
	  Sidebar Panel Base
	-----------------------------------*/
	.collapsible-menu {
		display          : flex;
		flex-direction   : column;
		/*width            : 240px;*/
		/*background       : var(--brand-black);*/
		border-right     : 1px solid #333;
		overflow-y       : auto;
	}

	/*-----------------------------------
	  Sections Container
	-----------------------------------*/
	.collapsible-menu .sidebar-sections {
		display          : flex;
		flex-direction   : column;
		/*gap              : 4px;*/
		padding          : 4px 4px;
	}

	/*-----------------------------------
	  Individual Section Wrapper
	-----------------------------------*/
	.collapsible-menu .sidebar-section {
		/*border-bottom    : 1px solid #333;*/
		transition       : background 0.3s ease;
		margin-bottom    : 5px;
	}

	.collapsible-menu .sidebar-section {
		background       : #111;
		overflow         : auto;
		border           : 1px solid #333;
		border-radius    : var(--border-radius-dashboard);
		box-shadow       : 2px 2px 2px rgba(0,0,0,0.5);
	}

	.collapsible-menu .sidebar-section .sidebar-content-wrap > .form {
		margin           : 5px;
		padding          : 5px 5px;
	}

	/*-----------------------------------
	  Title Bar
	  -----------------------------------*/
	.collapsible-menu .sidebar-section.is-collapsed .sidebar-title {
	}

	.collapsible-menu .sidebar-title {
		position         : relative;
		display          : flex;
		align-items      : center;
		/*gap              : 8px;*/
		padding          : 10px;
		cursor           : pointer;
		background       : #111;
		/*border-radius    : 5px;*/
		color            : #eee;
		/*font-weight      : bold;*/
		font-size        : 13px;
		user-select      : none;
		transition       : background 0.3s ease;
		color            : #aaa;
		text-shadow      : 1px 1px 1px rgb( 85, 0, 0, 0 );
		padding-left     : 30px; /* make room for the arrow */
		/*margin-bottom    : 5px;*/
	}

	/*.collapsible-menu .sidebar-title::before {
		content          : '▶';
		position         : absolute;
		left             : 8px;
		top              : 50%;
		transform        : translateY(-50%) rotate(0deg);
		transform-origin : center center;
		transition       : transform 0.2s ease;
		font-size        : var(--opacity-disabled)em;
		color            : #999;
	}*/

	.collapsible-menu .sidebar-section .sidebar-title {
		display          : flex;
		align-items      : center;
		justify-content  : space-between;
		gap              : 0.5em;
		/*padding          : 0.5em 1em;*/
		/*background       : var(--brand-black);
		color            : var(--color-fg);*/
		/*background       : #100;*/
		padding          : 1em 1em;
		color            : #ddd;
		border-bottom    : 1px solid #333;
	}

	.collapsible-menu .sidebar-section.is-closed .sidebar-title {
		border-bottom    : none;
	}

	.collapsible-menu .sidebar-section.is-disabled .sidebar-title {
		opacity          : 0.5;
		cursor           : not-allowed;
		pointer-events   : auto; /* still allow tooltip */
		background       : #222;
		color            : #555;
		text-shadow      : 1px 1px 1px rgb( 85, 0, 0, 0.25 );
	}

	.collapsible-menu .sidebar-section .sidebar-title .title {
		flex-grow        : 1;
		overflow         : hidden;
		text-overflow    : ellipsis;
		white-space      : nowrap;
	}

	.collapsible-menu .sidebar-section:not(.is-disabled) .sidebar-title:hover {
		background       : #333;
		color            : #eee;
	}

	/*.collapsible-menu .sidebar-section.is-closed {
		border-radius    : var(--border-radius-dashboard);
	}*/

	/*.collapsible-menu .sidebar-section.is-open,
	.collapsible-menu .sidebar-section.is-opening,
	.collapsible-menu .sidebar-section.is-closing {
		border-radius    : var(--border-radius-dashboard) var(--border-radius-dashboard) 0 0;
	}*/

	/*-----------------------------------
	Rotate arrow when open
	-----------------------------------*/
	/*.collapsible-menu .sidebar-section.is-open .sidebar-title::before {
		content          : '▼';
	}*/

	/*-----------------------------------
	  Title Icon
	-----------------------------------*/
	.collapsible-menu .sidebar-section .sidebar-title .ico-arrow {
		width            : 1.25em;
		height           : 1.25em;
		stroke           : currentColor;
		stroke-width     : 2;
		fill             : none;
		pointer-events   : none;
	}

	.collapsible-menu .sidebar-section.is-open .sidebar-title .ico-arrow,
	.collapsible-menu .sidebar-section.is-opening .sidebar-title .ico-arrow,
	.ico-arrow.invert {
		transform: rotate( 180deg );
	}

	.ico-arrow {
		vertical-align   : middle;
		width            : 1em;
		height           : 1em;
		stroke           : currentColor;
		fill             : none;
		stroke-width     : 2;
	}

	.collapsible-menu .sidebar-icon {
		width            : 16px;
		height           : 16px;
	}

	/*-----------------------------------
	  Collapsible Content
	  -----------------------------------*/
	.collapsible-menu .sidebar-content-wrap {
		overflow         : auto;
	}

	.collapsible-menu .sidebar-section .sidebar-content {
		overflow         : hidden;
		overflow-x       : hidden;
		max-height       : 0;
		transition       : max-height 0.3s ease, padding 0.3s ease;
		padding          : 1.5em 1em;
		color            : #ddd;
	}

	.collapsible-menu .sidebar-section .sidebar-content.is-closed {
		max-height       : 0 !important;
		padding          : 0 !important;
		border           : none !important;
		display          : none;
	}

	.collapsible-menu .sidebar-content.is-opening {
		display          : block;
	}

	.collapsible-menu .sidebar-content.is-closing {
		display          : block;
	}

	/*-----------------------------------
	  Open State Overrides
	-----------------------------------*/
	.collapsible-menu .sidebar-section .sidebar-content {
		padding          : 0; /*10px 10px;*/
	}
	.collapsible-menu .sidebar-section.is-open .sidebar-content {
		/* when open, padding restores to top/bottom */
		padding          : 0; /*10px 10px;*/
		/*overflow-x       : scroll;*/
	}
	.collapsible-menu .sidebar-section.is-closed .sidebar-content {
		display          : none;
	}
}
